<h1>Editar amigo</h1>

<%= render "form", amigo: @amigo %>

<br>

<div>
  <%= link_to "Mostrar amigo", @amigo , class:"btn btn-secondary"%> |
  <%= link_to "Volver", amigos_path, class:"btn btn-secondary"%>
</div>
