<p style="color: green"><%= notice %></p>

<h1>Amigos</h1>

<div id="amigos">
  <% @amigos.each do |amigo| %>
    <%= render amigo %>
    <p>
      <%= link_to "Mostrar amigo", amigo %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo amigo", new_amigo_path %>
